{% extends "base.html.twig" %}

{% block title %}Datamanager{% endblock %}

{% block content %}
    <ul class="nav row">
        {% for table in tableNames %}
        <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid={{table}}">{{ table }}</a>
        </li>
        {% endfor %}
    </ul>
    <h1>Datamanager</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    {% include template ignore missing %}
{% endblock %}