body 
{
    font-family: 'Noto Sans', sans-serif;
}
header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3rem;
    /* margin-bottom: 3rem; */
    background: linear-gradient(to top, #6425d2, #9907facc);
    opacity: 0.7;
}
.navbar {
    background-color: #6425d2;
    
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar a {
    color:#fff;
}
.navbar-nav .nav-link {
    color:#fff;
}
header img 
{
    height:10em;
    z-index: -1;
    opacity: 0.75;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered p {
    font-size: 1.5rem;
}
.card-i {
    border:0px;
    border-radius: 0;
}
.card-title {
    text-align: center;
}
section#intro .card-i 
{
    background-color:  #fff;
}
section#intro .card-i.intro
{
    background-color:  #9b56ff;
    height:100%;
    min-height:400px;
}
.card-i.intro h1 
{
    color:#fff;
}
.table .thead-dark th{
    background-color: #6425d2;
    border-color: #6425d2bd;
}
section#autors  .card 
{
    background-color: #6425d2;
    border-radius: 5px;
}
section#autors  .card-title {
    color:#fff;
   
}
section#autors  .card-body {
    color:#ffd;
}

.btn-primary{
    color: #fff ;
    background-color: #6425d2;
    border-color: #6425d2;
  }
  
  .btn-primary:focus, .btn-primary:hover{
    color: #ffd ;
    background-color: #6425d2;
    border-color: #6425d2;
    filter:brightness(75%);
  }
  .btn-primary:not(:disabled):not(.disabled):active {
    color: #ffd ;
    background-color: #6425d2;
    border-color: #6425d2;
  }
  a {
    color:  #6425d2;
  }
  a:hover {
    color:  #6425d2;
    filter:brightness(75%);
  }

  .card.wwu 
  {
    background-color: #6425d2;
    height:100%;
    min-height:400px;
  }
  .card.wwu h1
  {
    color:#fff;
    
  }
  ul.nav {
    background-color: #9b56ff;
    
  }
  ul.nav a {
    color:#fff;
  }
  ul.nav a.nav-link.text-muted
  {
    color:#fff !important;
  }
  
  