{% extends "base.html.twig" %}

{% block title %}Datamanager{% endblock %}

{% block content %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="?command=read&tblid=buecher">Bücher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid=Autoren">Autoren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid=Lieferanten">Lieferanten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid=Sparten">Sparten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid=Orte">Orte</a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="?command=read&tblid=Verlage">Verlage</a>
        </li>
    </ul>
    <h1>Datamanager</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    {% include template ignore missing %}
{% endblock %}