{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<header class="row mb-4">
    <img src="header.jpg" width="100%"/>
    <div class="centered">
        BOOKLOOKER.
        <p>Eine Buchmachirgendwas Webseite</p>
    </div>
</header>
<section id="intro">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Inhalt</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        <div class="card intro">
            <h1 class="display-3 m-auto">Intro</h1>
        </div>
    </div>
    
</section>
<section id="use" class="mb-4"> 
    <div class="row">
        <div class="col-sm-3">
            <div class="card wwu">
                <h1 class="display-3 m-auto">What we use</h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Inhalt</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <dl class="row">
                        <dt class="col-md-3">Twig</dt><dd class="col-md-9">Symfony Template. Zum trennen von PHP und HTML nutzen wir eine Template Engine die im Symfony System vorhanden ist. Hier wird dies ohne Symfony benutzt. Die Installation erfolgt über Composer.</dd>
                        <dt class="col-md-3">Buchladen.sql</dt><dd class="col-md-9">Die für diese Seite verwendete Datenbank wurde durch die Lehrkraft bereitgestellt.</dd>
                        <dt class="col-md-3">PHP 8.2</dt><dd class="col-md-9">Symfony Template Engine Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</dd>
                        <dt class="col-md-3">Bootstrap 4.6</dt><dd class="col-md-9">Symfony Template Engine Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</dd>
                        <dt class="col-md-3">Color System</dt><dd class="col-md-9">Material Design <a href="https://m2.material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=6425d2&secondary.color=E57373">Color Palatte</a>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="autors" class=" w-100">
    <div class="cards">
        <div class="row row-cols-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <img src="autor.jpg" class="card-img-top" alt="...">
                        <h2 class="card-title">Christian</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <img src="niclas.jpg" style="" class="card-img-top img-fluid img-thumbnail img-rounded " alt="...">
                        <h2 class="card-title">Niklas</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <img src="jan.jpg" class="img-fluid img-thumbnail img-rounded card-img-top">
                        <h2 class="card-title">Jan</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}