{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block content %}
<div class="container">
    <h1>Library</h1>
    <p class="lead">
        Welcome on my awesome homepage.
    </p>
    <p>Nutzen Sie die Eingabe um ein Select Satement zu formulieren. Dabei muss das 'Select' selbst nicht aufgeführt werden<p>
    <p>Beispiele für ein Select
        <ul>
            <li><code>* from autoren a join autoren_has_buecher ahb on a.autoren_id = ahb.autoren_autoren_id join buecher b on ahb.buecher_buecher_id = b.buecher_id;</code></li>
            <li><code>* from autoren;</code></li>
            <li><code>* from buecher order by buecher_id desc;</code></li>
        </ul>
    </p>
    <form method="post" action="Library">
        <div class="form-group row">
            <label for="selectCommand" class="col-2 col-form-label text-right">SELECT </label>
            <input type="text" class="form-control col-10" name="selectCommand" id="selectCommand" value="{{stmt}}">
        </div>
        <div class="text-right">
            <button type="submit" name="command" value="create" class="btn btn-primary">Submit</button>
            <a href="Library?command=read&view=all" class="btn btn-primary">Alle</a>
        </div>
    </form>
    {% include template ignore missing %}
</div>
{% endblock %}