{% extends "base.html.twig" %}

{% block title %}Bücher{% endblock %}

{% block content %}
    <h1>Bücher</h1>
    <p class="lead text-monospace">
        Willkommen in der Bücherei
    </p>
    <div class="card-i">
        <p>Hier kannst du nach Büchern suchen.<p>
        <p>Auch hast du die Möglichkeit
            <ul>
                <li>bestehende Bücher anzupassen</li>
                <li>neue zu erfassen</li>
                <li>nicht meher aktuelle zu löschen</li>
            </ul>
        </p>
    </div>
    <div class="container">
        <form method="post" action="Library">
            <div class="form-group form-row">
                <label for="bookSelect" class="col-sm-3 col-form-label text-right">Buch:</label>
                <select class="form-control col-sm-6" id="bookSelect" name="bookSelect">
                    {% for item in books %}
                        <option value="{{item['buecher_id']}}" {% if item['buecher_id'] == currentId %}
                            selected {% endif %}>{{item['titel']}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary col-sm-3" type="submit" name="command" value="read">Anzeigen</button>
            </div>
        </form>
        {# <div style="min-height:50vh;"></div> #}
    </container>
    {% include template ignore missing %}
{% endblock %}